<app-navbar (logInEvent)="setLogin()" (logOutEvent)="setLogout()"></app-navbar>
<!--<app-tile></app-tile>-->
<br>

<app-chat *ngIf="person"
 [person]="person"
          [game]="game"   ></app-chat>

<button *ngIf="person && !game" routerLink = 'gamescreen' (click)="createGame()" routerLinkActive="active">Create new Game</button>


<app-notifications *ngIf="person && !game" (startGameEvent)="startGame($event)" ></app-notifications>
<div *ngIf="person && !game" routerLink = 'gamescreen' routerLinkActive="active"></div>
<router-outlet></router-outlet>
