



<ng-container *ngIf="person; else display">
   <ng-container *ngIf="game; else display">

    <h3>{{person}}</h3>
<div style="display: flex;">
    <textarea placeholder="Enter the msg" id="message" [(ngModel)]="message" name="message"></textarea>
    <button type="button" id="button" (click)="sendmessage()">Send Message</button>   

    <div class="container">
        <div class="chat-content">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >
                        <strong>{{webSocketService.chat}}: </strong>
                      
                    </li>
                </ul>
            </div>
        </div>
     
    </div>



</div>
</ng-container>
</ng-container>
<ng-template #display>
    Sorry, no one here.
</ng-template>
