<ng-container *ngIf="player; else display">
    <h3>{{username}}</h3>
<div style="display: flex;">
 <div style="display: flex;"  *ngIf="player.username===loggedUser.username">  
    <textarea placeholder="Enter the msg" id="message" [(ngModel)]="message" name="message"></textarea>
    <button  type="button" id="button" (click)="sendmessage()">Send Message</button>
</div>    
</div>

<main class="chat">
    <div class="container">
        <div class="chat-content" style="height: 30%;">
            <div class="card">
                <ul class="list-group list-group-flush" >

                <li class="list-group-item" *ngFor="let chat of webSocketService.chat">
                    <strong>{{chat.sender.username}}:-</strong>
                    <br>
                    <span>{{chat.message}}</span>
                    </li>
                </ul>
            </div>
        </div>
     
    </div>

</main>

 
</ng-container>
<ng-template #display>
    Sorry, no one here.
</ng-template>
