<p>Notifications:</p>
<br>
<ng-container *ngIf="invites && invites !== undefined">
    <ng-container *ngIf="invites.length > 0">
        <ul *ngFor="let invite of invites; index as i">
            <li *ngIf="invite.status.id != 3">Game Request from {{invite.sender.username}} as {{invite.type.name}}</li>
            <button *ngIf="invite.status.id != 3" (click)="acceptInvite(i)">Accept</button>
            <button *ngIf="invite.status.id != 3"(click)="declineInvite(i)">Decline</button>
            <br>
        </ul>
    </ng-container>
</ng-container>

