#inviteTable {
    width: 30%;
    border: 1px solid black;
    padding: 1%;
    overflow-y: auto;
    border-collapse: collapse;
    margin: auto;
}

.inviteRow {
    border: 1px solid black;
}

.inviteData {
    width: 10%;
}