<div>
    <ng-container *ngIf="list; else noList">
        <ng-container *ngIf="list.length == 0; else emptyList">
            <h2>Invites {{ pertainsToSent ? "Sent" : "Received" }}:</h2>
            <ul>
                <ng-container *ngFor>
                    <li>
                        <ng-container *ngIf="pertainsToSent; else reactionList">
                            <app-invite></app-invite>
                        </ng-container>
                        <ng-container #reactionList>
                            <app-react-to-invite></app-react-to-invite>
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
        </ng-container>
        <ng-template #emptyList>

        </ng-template>
    </ng-container>
    <ng-template #noList>
        No list of invites for logged-in user.
    </ng-template>
</div>